block content
  html
    head
      meta(name='viewport', content='width=device-width')
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      title ZURBemails
      link(rel='stylesheet', type='text/css', href='../css/style.css')
    body(bgcolor='#FFFFFF', topmargin='0', leftmargin='0', marginheight='0', marginwidth='0')
      div.wrapper
        table.head-wrap
          tbody
            tr
              td
              td.header.container
                .content
                  table
                    tbody
                      tr
                        td
                          img(src='./images/henryshop_logo.jpg')
                          h1.header Henry Arlington England
                        td
                          h6 
                            | Shirts and menswear Crafted from 
                            br
                            | a lifetime of knowledge...
              td
        table.body-wrap
          tbody
            tr
              td
              td.container(bgcolor='#FFFFFF')
                .content.main
                  table
                    tbody
                      tr
                        td
                          p Columnist Kelvin MacKenzie has been suspended by The Sun after he expressed "wrong" and "unfunny" views about the people of Liverpool.

                          p In an article published on Friday, MacKenzie compared Everton midfielder Ross Barkley, who has a grandfather born in Nigeria, to a "gorilla".

                          p He said men with similar "pay packets" in Liverpool were "drug dealers".

                          p Merseyside Police are investigating whether his comments constitute a "racial hate crime".

                          p The Sun apologised "for the offence caused" and added that it was "unaware of Barkley's heritage".
                .column-wrap
                  .column
                    table(align='left')
                      tbody
                        tr
                          td
                            a.btn Click Here »
                  .column
                    table(align='left')
                      tbody
                        tr
                          td
                            <?php print $content; ?>
                  .clear
              td
        table.footer-wrap
          tbody
            tr
              td
              td.container
                .content
                  table
                    tbody
                      tr
                        td(align='center')
                          ul.inline
                            li
                              a(href='#') Terms
                            li
                              a(href='#') Privacy
                            li
                              a(href='#') Unsubscribe
              td
